body {
	width: 960px;
	height: 725px;
}

#containerHeader{
	height: 75px;
	background: #ffffff;
	border-bottom: 2px solid #cccccc;
	position: relative;
}

#headerName {
	position: relative;
	float: left;
	width: 350px;
	height: 75px;
	background: #4aaaa5;
	vertical-align: middle;
	text-align: center;
	margin-left: 13.33px;

}

h1 {
	color: #ffffff;
	font-family: 'Georgia', Times, "Times New Roman", serif;

}

#headerLinkAbout {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: right;
	margin-top:35px;
	padding-right: 20px;
	vertical-align: middle;
	text-align: center;
	color: #777777;

}

#headerLinkPortfolio {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: right;
	margin-top:35px;
	padding-left: 20px;
	padding-right: 20px;
	border-left: solid 1px #cccccc;
	vertical-align: middle;
	text-align: center;
	color: #777777;

}

#headerLinkContact {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: right;
	margin-top:35px;
	padding-left: 20px;
	border-left: solid 1px #cccccc;
	margin-right: 13.33px;
	vertical-align: middle;
	text-align: center;
	color: #777777;

}

#containerMain {
	width: 960px;
	height: 575px;
	background-image: url(../images/new_year_background/new_year_background.png);
	background-repeat: repeat;
	overflow: auto;
	
}

#containerMainPortfolio {
	width: 960px;
	height: 650px;
	background-image: url(../images/new_year_background/new_year_background.png);
	background-repeat: repeat;
	overflow: auto;
	
}

#divMainAbout {

	width: 650px;
	height: 500px;
	background: white;
	border: 1px;
	border-color: #dddddd;
	float: left;
	margin-left: 13.33px;
	margin-top: 35px;
	margin-right: 13.33px;
	margin-bottom: 35px;

}

#divMainContact {
	width: 650px;
	height: 500px;
	background: white;
	border: 1px;
	border-color: #dddddd;
	float: left;
	margin-left: 13.33px;
	margin-top: 35px;
	margin-right: 13.33px;
	margin-bottom: 35px;
	position:relative;
}

#divMainPortfolio {
	width: 650px;
	height: 580px;
	background: white;
	border: 1px;
	border-color: #dddddd;
	float: left;
	margin-left: 13.33px;
	margin-top: 35px;
	margin-right: 13.33px;
	margin-bottom: 35px;
	position:relative;
	overflow: auto;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: solid 3px #cccccc;
	padding-bottom: 20px;
}

#profilePic {
	float: left;
	margin: 10px;
	height: 175px; 
	width: 225px;

}

#firstParagraph {

	color: #777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	margin-right: 10px;
}

#secondParagraph {
	color: #777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	margin: 10px;
}

#formSheet {
	color: #808080;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 10px;
}

.textBox {
	color: #cccccc;
	width: 620px;
}

.submitButton {
	background: #4aaaa5;
	color: #ffffff;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	border: none;
	width:75px;
	height:30px;
	position: relative;
	margin-top: 10px;
}

textarea {
	border-color: #cccccc;
	width: 620px;
}

#portfolio1 {
	height: 150px;
	width: 200px;
	background-image: url(../images/bread.jpeg);
	background-size: 200px 150px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	margin: 0 0 10px 83.33px;

}

#portfolio2 {
	height: 150px;
	width: 200px;
	background-image: url(../images/bridge.jpeg);
	background-size: 200px 150px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	margin: 0 83.33px 10px 83.33px;
}
#portfolio3 {
	height: 150px;
	width: 200px;
	background-image: url(../images/music.jpeg);
	background-size: 200px 150px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	margin: 0 0 5px 83.33px;
}
#portfolio4 {
	height: 150px;
	width: 200px;
	background-image: url(../images/pig.jpeg);
	background-size: 200px 150px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	margin: 0 83.33px 10px 83.33px;
}
#portfolio5 {
	height: 150px;
	width: 200px;
	background-image: url(../images/vegas.jpeg);
	background-size: 200px 150px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	margin: 0 0 10px 83.33px;
}

.innerPortfolio {
	position: absolute;
	bottom: 2mm;
	background-color: #4aaaa5;
	height: 50px;
	width: 200px;
	color: #ffffff;
	text-align: center;
}

.portfolioText {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

#divConnect {
	background: white;
	float: left;
	margin-top: 35px;
	margin-right: 13.33px;
	width: 270px;
	height: 150px;

}

h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	margin: 10px;
	text-align: center;
}

#lineBreakConnect {
	color: #777777;
	margin: 0px 20px 0px 20px;
}

#githubIcon {
	float: left;
	height: 70px;
	width: 70px;
	margin: 20px 0px 20px 20px;
}

#linkedinIcon {
	float: left;
	height: 70px;
	width: 70px;
	margin: 20px 10px 20px 10px;
}

#stackoverflowIcon {
	float: left;
	height: 66px;
	width: 66px;
	margin: 20px 20px 20px 0px;
}


#footer {
	background: #666666;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	clear: both;
	text-align: center;
	position: relative;
	height: 75px;
	border-top:5px solid #4aaaa5;
	font-size: 10px;
	
}

#footerText {
	position: absolute;
	top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	color: #ffffff;

}