body {
	width: 960px;
	height: 600px;
}

#containerHeader{
	height: 75px;
	background: #ffffff;
	border-bottom: 2px solid #cccccc;
	position: relative;
}

#headerName {
	position: relative;
	float: left;
	width: 350px;
	height: 75px;
	background: #4aaaa5;
	vertical-align: middle;
	text-align: center;
	margin-left: 13.33px;

}

h1 {

	color: #ffffff;
	font-family: 'Georgia', Times, "Times New Roman", serif;

}

#headerLinkAbout {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: right;
	padding-right: 20px;
	vertical-align: middle;
	text-align: center;
	color: #777777;

}

#headerLinkPortfolio {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	border-left: solid 1px #cccccc;
	vertical-align: middle;
	text-align: center;
	color: #777777;

}

#headerLinkContact {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: right;
	padding-left: 20px;
	border-left: solid 1px #cccccc;
	margin-right: 13.33px;
	vertical-align: middle;
	text-align: center;
	color: #777777;

}

#containerMain {
	width: 960px;
	height: 450px;
	background-image: url(../images/new_year_background/new_year_background.png);
	background-repeat: repeat;
	overflow: auto;
	
}

#divMain {

	width: 650px;
	height: 350px;
	background: white;
	border: 1px;
	border-color: #dddddd;
	float: left;
	margin-left: 13.33px;
	margin-top: 50px;
	margin-right: 13.33px;
	margin-bottom: 50px;

}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	margin: 10px;
}

#lineBreakMain {
	margin: 10px;
	color: #777777

}

#profilePic {
	float: left;
	margin: 10px;
	height: 175px; 
	width: 225px;

}

#firstParagraph {

	color: #777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	margin-right: 10px;
}

#secondParagraph {
	color: #777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	margin: 10px;
}

#divConnect {
	background: white;
	float: left;
	margin-top: 50px;
	margin-right: 13.33px;
	width: 270px;
	height: 150px;


}

h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	margin: 10px;
	text-align: center;
}

#lineBreakConnect {
	color: #777777;
	margin: 0px 20px 0px 20px;
}

#githubIcon {
	float: left;
	height: 70px;
	width: 70px;
	margin: 20px 0px 20px 20px;
}

#linkedinIcon {
	float: left;
	height: 70px;
	width: 70px;
	margin: 20px 10px 20px 10px;
}

#stackoverflowIcon {
	float: left;
	height: 66px;
	width: 66px;
	margin: 20px 20px 20px 0px;
}


#footer {
	background: #666666;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	clear: both;
	text-align: center;
	position: relative;
	height: 75px;
	border-top:5px solid #4aaaa5;
	font-size: 10px;
	
}

#footerText {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}